{% extends 'base.html' %}
{% load static %}
{% block myscript %}

{% endblock %}
{% block body %}

<nav class="navbar navbar-expand-lg navbar-light bg-success">
  <div class="container-fluid">
    <ul class="nav navbar-nav mr-auto">

        {% if user.is_authenticated %}
        <li class="nav-item">
        <a class="nav-link" href="{% url 'store:logout' %}"> Logout({{user.username}}) </a> </li>
        <li class="nav-item">
        <a class="nav-link" href="{% url 'store:order' %}"> New Order </a> </li>
        {% else %}
        <li class="nav-item">
          <a class="nav-link" href=""> Login </a> </li>
        {% endif %}

      <li class="nav-item">
        <a class="nav-link" href="{% url 'store:register' %}">Register</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" >
          Department
        </a>
          <ul class="nav-item dropdown-content bg-success" style="list-style-type: none; " >
           <li><a href="https://en.wikipedia.org/wiki/Commerce">COMMERCE</a></li>
              <li><a href="https://en.wikipedia.org/wiki/Computer">COMPUTER</a></li>
              <li><a href="https://en.wikipedia.org/wiki/History">HISTORY</a></li>
        </ul>
        <ul class="nav-item dropdown-content bg-success" style="list-style-type: none; " >
          {% for i in key1 %}
            <li><a class="dropdown-item" href="https://en.wikipedia.org/wiki/{{ i.dept }}">{{ i.dept }}</a></li>

          {% endfor %}
        </ul>
      </li>
    </ul>
  </div>
</nav>
<div class="container">
    {% if user.is_authenticated %}
    <h2 class="welcome-title">
      Hello {{user.username}}, Welcome to School Store
    </h2>
    <img src="{% static 'images/img.png' %}" width="100%">
    {% else %}
    {% include 'login.html'  %}
    {% endif %}
</div>
{% endblock %}